export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work

PATH=${PROJECT_DIR}/bin:${PATH}

export PARAMS_YAML=${PROJECT_DIR}/secrets/params.yml
watch_file ${PARAMS_YAML}

export VAULT_FQDN=$(yq e .vault.fqdn $PARAMS_YAML)
export VAULT_ADDR=https://$VAULT_FQDN

